/*Global Css*/
*{
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.row{
    width: 100%;
}
.col-1{
    width: 8.33%;
    float: left;
}
.col-2{
    width:16.67%;
    float: left;
}
.col-3{
    width:25%;
    float: left;
}
.col-4{
    width: 33.33%;
    float: left;
}
.col-5{
    width: 41.67%;
    float: left;
}
.col-6{
    width: 50%;
    float: left;
}
.col-7{
    width: 58.33%;
    float: left;
}
.col-8{
    width: 66.67%;
    float: left;
}
.col-9{
    width: 75%;
    float: left;
}
.col-10{
    width: 83.33%;
    float: left;
}
.col-11{
    width: 91.67%;
    float: left;
}
.col-12{
    width:100%;
    float: left;
}
section{
    float:left;
    width:100%;
}
.img-fluid{
    width: 100%;
}
/*Topbar Section Starts*/
.topbar{
background: #f6f9f9;
padding: 18px 0;
}
/*Banner Section Starts*/
.banner{background: url(../Images/banner.png);height: 620px;background-position: center;background-size: cover;}
.banner .banner-text {text-align: center;padding-top: 130px;}
.banner .banner-text h1 {
color: #fff;
text-transform: uppercase;
font-size: 140px;
margin-bottom: 20px;
letter-spacing: 2px;
}
.banner .banner-text .blue-line {
background: 15a4fa;
background: #15a4fa;
height: 2px;
width: 50%;
margin: 0 auto;
margin-bottom: 20px;
}
.banner .banner-text p {
margin-bottom: 60px;
color: #fff;
}
.banner .banner-text .btn-cta {
text-decoration: none;
color: white;
border:  1px solid #15a4fa;
padding: 10px 20px;
display: inline-block;
transition: 0.3s linear;
}
.banner .banner-text .btn-cta:hover{
background: #15a4fa;
}
/*Design Section Start*/
.design{
    text-align: center;
    padding: 50px 0;
    background: #f6f9f9;
}
.design h2{
    color: #2d3950;
    font-size: 40px;
    margin-bottom: 30px;
}
.design p{
    line-height: 1.7;
    color: #999999;
    margin: 0 10%;
}
/*Icon Section Starts*/
.icon-section{
    padding: 50px 0;
}
.icon-section .box{
    text-align: center;
    margin: 0px 10%;
}
.icon-section .box img{
    margin-bottom: 20px;
}
.icon-section .box h3{
    color: #2d3950;
    font-size: 22px;
    margin-bottom: 20px;
}
.icon-section .box p{
    color: #999999;
    margin: 0 10%;
    line-height: 1.7;
}
/*Portfolio Section*/
.portfolio{
    background: #f6f9f9;
    padding: 50px 0;
}
.portfolio h2{
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: #2d3950;
}
.portfolio p{
    color: #909090;
    text-align: center;
    margin-bottom: 60px;
}
.portfolio-box{
    position: relative;
    margin: 12px;
}
.hover-box{
    position: absolute;
    background: rgba(21, 164, 250, 0.90);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s linear;
}
.hover-box ul{
    padding-left: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hover-box ul li{
    list-style: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 0px 5px;
}
.hover-box ul li i{
    color: white;
}
.portfolio-box:hover .hover-box{
    opacity: 1;
    cursor: pointer;
}
/*Contact Css*/
.contact{
    padding: 30px 0;
    background: linear-gradient(rgba(45, 57, 80, .90),rgba(45, 57, 80, .90)), url(../Images/contact_background.png);
    background-position: center;
    background-size: cover;
}
.contact h2{
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}
.contact p{
    text-align: center;
    color: #999;
    margin-bottom: 60px;
}

.contact form{
    width: 60%;
    margin: 0 auto;
}
.contact form .form-control{
    width: 100%;
    background: transparent;
    border: 1px solid #999;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: none;
    border-radius: 3px;
}
.contact form .check{
    color: white;
}
.contact form .check .checkbox{
    margin-top: 14px;
}
.contact form .check .btn-submit{
    float: right;
    color: white;
    background: transparent;
    border: 1px solid #15a4fa;
    padding: 10px 42px;
    border-radius: 3px;
    display: inline-block;
    transition: 0.3s linear;
}
.contact form .check .btn-submit:hover{
    background-color: #15a4fa;
}
input,textarea::placeholder{
    font-size:16px;
}
/*Footer Section*/
.footer{
    background: #f6f9f9;
    padding: 18px 0;
}
.footer p{
    margin-top: 16px;
    color: #999999;
}
.footer ul{
    padding-left: 0px;
    float: right;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    width: 40px;
    line-height: 40px;
    background: #15a4fa;
    text-align: center;
    border-radius: 2px;
    margin: 5px;
}
.footer ul li:hover{
    cursor: pointer;
}
.footer ul li:last-child{
    margin-right: 0px;
}
.footer ul li i{
    color: white;
}